body {
    background:#0B9ED9;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:#085CA6;
}

.assignment img {
    width:200px;
    height:200px;
    margin-right:20px;
    border:solid #042440;
}

h1{
    text-decoration:none;
    color: #052A59;
    text-align: center;
}

a{
    text-decoration:none;
    color:#fff;
}

img {
    border: 2px solid black;
  }